@use '../abstracts/variables' as vars; 

#hero {
  width: 100%;
  height: 100vh;
  background: url('../img/hero-bg.png') top center no-repeat; // твой градиент с фрипика
  background-size: cover;
  position: relative;

  h1 { font-size: 48px; font-weight: 600; color: vars.$color-text; }
  h2 { font-size: 24px; color: vars.$color-text; margin-bottom: 20px; }
  p { font-size: 16px; color: vars.$color-text-muted; max-width: 550px; }

  .hero-img-wrapper {
    position: relative;
    width: fit-content;
    margin-left: auto;

    .main-photo {
      position: relative;
      z-index: 2;
      border: 5px solid vars.$color-primary;
      border-radius: vars.$radius-lg;
      width: 400px;
      height: 400px;
      object-fit: cover;
    }

    .hero-img-bg {
      position: absolute;
      top: 30px;
      left: 30px;
      width: 100%;
      height: 100%;
      background: vars.$color-bg-alt; // или твой вариант
      border-radius: vars.$radius-lg;
      z-index: 1;
    }
  }

  @media (max-width: 991px) {
    height: auto;
    padding: 120px 0 60px 0; // Место под хедер
    text-align: center;

    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .btn-wrapper {
      justify-content: center;
    }

    .hero-img-wrapper {
      margin: 0 auto; // Центрируем фото
      width: 280px; // Чуть уменьшим для мобилок 
      height: 280px;

      .main-photo, .hero-img-bg {
        width: 280px;
        height: 280px;
      }
    }
  }

  @media (max-width: 575.98px) {
    h1 { font-size: 32px; font-weight: 600; color: vars.$color-text; }
    h2 { font-size: 20px; color: vars.$color-text; margin-bottom: 20px; }
  }

  /* Стили иконок соцсетей */
  .social-btn {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2); // Тонкая обводка круга из Figma
      color: vars.$color-text;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      transition: vars.$transition;

      &:hover {
        color: vars.$color-accent;
        border-color: vars.$color-accent;
        background-color: rgba(vars.$color-accent, 0.05); // Легкий отсвет при наведении
        transform: translateY(-2px);
      }
    }
}