@use '../abstracts/variables' as vars;

.services {
  padding: 80px 0;
  background-color: vars.$color-bg;
}

.services .service-card {
  position: relative;
  padding: 40px;
  background: vars.$color-bg-alt;
  border-radius: 24px;
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: vars.$color-text-muted;
  border: 1px solid transparent; // Изначально рамки нет

  &:hover {
    transform: translateY(-5px);
    
    // Темная тема: деликатная серая рамка и темная тень
    border-color: rgba(128, 128, 128, 0.15); 
    // box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);

    // Светлая тема: легкая СИНЯЯ рамка и мягкий СИНЙ отсвет (тень)
    [data-theme="light"] & {
      border-color: rgba(36, 73, 180, 0.15);
      box-shadow: 0px 15px 35px rgba(36, 73, 180, 0.08);
    }
    
    // .icon-box {
    //   transform: scale(1.1);
    // }
  }

  // Блок иконки
  .icon-box {
    width: 64px;
    height: 64px;
    background-color: vars.$color-primary; // Дефолтный синий для темной темы
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    transition: all 0.3s ease;

    // Вложенная иконка
    i {
      color: #ffffff; // Дефолтный белый цвет для темной темы
      font-size: 32px !important; // Жестко фиксируем размер в 32px
      line-height: 1;
      transition: vars.$transition;
    }

    // СВЕТЛАЯ ТЕМА: нежно-голубой фон и синяя иконка внутри
    [data-theme="light"] & {
      background: vars.$color-hero-bg; // Нежно-голубой полупрозрачный фон
      
      i {
        color: vars.$color-primary; // Синий цвет иконки
      }
    }
  }

  .services .service-card h4 {
    font-size: 24px;
    font-weight: 600;
    color: vars.$color-text;
    margin-bottom: 15px;
  }
  @media (max-width: 575.98px) {
    .services .service-card h4 {
      font-size: 20px;
    }
  }
  .services .service-card p {
    color: vars.$color-text-muted;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .services .service-card {
    padding: 30px;
  }
}