// base/_base.scss
@use "../abstracts/variables" as vars;

html {
  scroll-behavior: smooth;
}

body {
  background-color: vars.$color-bg;
  color: vars.$color-text; 
  font-family: vars.$font-main; 
  line-height: 1.6;
  overflow-x: hidden; 
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  transition: vars.$transition;
}