// base/_base.scss
@use "../abstracts/variables" as vars;

html {
  scroll-behavior: smooth;
}

body {
  background-color: vars.$color-bg;
  color: vars.$color-text; 
  font-family: vars.$font-main; 
  line-height: 1.6;
  overflow-x: hidden; 
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  transition: vars.$transition;
}

.custom-3d-player {
  width: 100%;
  height: 500px;
  background: transparent !important; /* Прозрачный фон */
}

/* Полностью убираем полосу загрузки вверху */
.custom-3d-player::part(default-progress-bar) {
  display: none !important;
}

/* Убираем возможный вспыхивающий фон постера */
.custom-3d-player::part(default-poster) {
  background-color: transparent !important;
}