// Colors
$color-primary:        #2449B4;
$color-accent:         #FFAE3D;
$color-bg:             #242627;
$color-bg-alt:         #2B2D2E;
$color-text:           #FFFFFF;
$color-text-muted:     #ABACAC;

// Layout
$radius-xxl:           48px;
$radius-xl:            32px;
$radius-lg:            24px;
$radius-md:            16px;
$radius-sm:            8px;
$radius-xs:            4px;
$transition:           all 0.3s ease;

// Typography
$font-main:           'Nunito', sans-serif;