@use '../abstracts/variables' as vars;

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 24px;
  bottom: 24px;
  z-index: 996;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: vars.$color-bg-alt;
  border: 1px solid rgba(128, 128, 128, 0.15);
  color: vars.$color-text;
  transition: all 0.3s ease-in-out;

  [data-theme="light"] & {
    color: vars.$color-title;
    background-color: vars.$color-hero-bg;
  }

  i {
    font-size: 24px;
    line-height: 0;
  }

  &:hover {
    background-color: vars.$color-accent;
    border-color: vars.$color-accent;
    color: vars.$color-bg;
    transform: translateY(-3px) !important;

    [data-theme="light"] & {
      background-color: vars.$color-primary;
      border-color: vars.$color-primary;
      color: #FFFFFF !important;
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}