@use '../abstracts/variables' as vars;

.footer {
  background-color: transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 60px 0 40px 0;
  color: vars.$color-title;

  // Логотип
  .footer-logo {
    img {
      width: 60px;
      height: 60px;
      transition: vars.$transition;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .footer-nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    a {
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: vars.$color-title;
      transition: vars.$transition;

      &:hover {
        color: vars.$color-accent;
      }
    }
  }

  .footer-social-divider {
    .divider-line {
      flex-grow: 1;
      height: 1px;
      background-color: rgba(128, 128, 128, 0.2); 
    }

    .social-links {
      flex-shrink: 0;
    }

    .social-btn {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: vars.$color-text;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      transition: all 0.3s ease;

      [data-theme="light"] & {
        border-color: rgba(49, 72, 98, 0.2);
        color: vars.$color-title;
      }

      &:hover {
        color: vars.$color-accent;
        border-color: vars.$color-accent;
        background-color: rgba(vars.$color-accent, 0.05);
        transform: translateY(-2px);

        [data-theme="light"] & {
          border-color: vars.$color-accent;
          color: vars.$color-accent;
        }
      }
    }
  }

  .footer-bottom {
    .copyright {
      font-size: 14px;
      color: vars.$color-title;
      font-weight: 300;
    }

    .privacy-link {
      font-size: 14px;
      transition: vars.$transition;
      color: var(--color-text-muted);
      text-decoration: underline dotted;
      text-underline-offset: 4px;

      &:hover {
        color: vars.$color-accent;
      }
    }
  }
}